body{
	margin: 20px;
	padding: auto;
	
}
body ul{
	display: inline-block;
	padding-left: 40px;
}
header{
	-webkit-background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
	-moz-background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
	-o-background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
	background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
	padding: 39px 39px 20px;
	background-color: #0356fc;
}
h1{
	color: #ffffff;
	font-size: large;
	text-align: center;
	text-transform: uppercase; 
	font-family: sans-serif;

}

nav a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
	padding: 10px 50px;
	background-color: #ffffff ;
	opacity: 0.5;
	text-align: center;
	margin: 10px 75px;
	border-radius: 5px;
}
.active{
	background-color:#ffffff;
	opacity: 1 !important;
	color: #0356fc;
}

section{
	background: #ffffff
	
}
h2{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
main{
	display: inline-block;
}

.left{
	background-color: #34eb77;
	margin-right: 7px;
	padding: auto;
	display: inline-block;
	float: left;
}
.right{
	padding: auto;
}

main img{

	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	width: 140px;
	height: 90px;
	display: block;
	margin: 30px;
	

	

}