body{
	margin: 20px;
}
header{
	background: url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
	padding: 39px;
}
h1{
	color: #ffffff;
	font-size: large;
	text-align: center;
	text-transform: uppercase; 
}
a{
	color: #000000;
	text-align: left;
}
section{
	background: #89898c
}
h2{
	color: #0835ff;
	text-transform: uppercase;
}
img{
	display: none;
}